

<h1 class="text-center"> Hello, @ViewData["userName"]!</h1>
<h3 class="text-center md-3">Your orders: </h3>

<div class="container justify-content-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >Kerastase</th>
                <td>Genesis</td>
                <td>2</td>
                <td>22.03.2022</td>
                <td>90 lv.</td>
            </tr>
        </tbody>
    </table>
</div>
