<header>
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5  rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <div>
                    <img src="../assets/logo.png" alt="logo">
                    <h2 class="display-5 fw-bold">Services</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/wedding-service.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class=" text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Misty</h4>
                            <p class="mb-0 text-black-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none d-lg-block mb-0 ms-0" />
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/wedding-service.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class=" text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Misty</h4>
                            <p class="mb-0 text-black-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none d-lg-block mb-0 ms-0" />
       <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/wedding-service.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class=" text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Misty</h4>
                            <p class="mb-0 text-black-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none d-lg-block mb-0 ms-0" />
       <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img  height="400" src="~/assets/question1.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class=" text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black">Add service</h4>
                            <a class="btn btn-outline-dark mt-auto" href="/Service/Add">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-none d-lg-block mb-0 ms-0" />
    </div>
</section>