
<header class=" py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder" style="color:black">Add new picture to gallery</h1>
        </div>
    </div>
</header>
<section class="page-section" id="services">
    <div class="container">
        <section class="py-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <form>
                    <div class="mb-3">
                        <label for="pictureUrl" class="form-label">Picture Url</label>
                        <input type="text" class="form-control" id="picture-url" name="PictureUrl" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <label for="pictureCategory" class="form-label">Category</label>
                        <input type="text" class="form-control" id="picture-category" name="Category">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </div>
</section>
<br/>
<br/>
<br/>