@using LDBeauty.Core.Models.Gallery
@model IEnumerable<ImageViewModel>

<partial name="_Logo"/>

<section class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in @Model)
            {
                <div class="col">
                    <a asp-action="details" asp-controller="gallery" asp-route-id="@item.Id">
                    <img src="@item.ImgUrl" width="350" height="400" @*class="img-thumbnail"*@ alt="...">
                    </a>
                </div>
            }
        </div>
    </div>
</section>

