<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading display-4 text-uppercase">Wellcome to Gallery</h1>
            <h3 class="section-subheading text-muted">FInd your insparation.</h3>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/Gallery/GalleryTemp" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/allPic.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">All photos</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/wedding.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">Wedding day</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/promp.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">Promp</h4>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
<section class="page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/balliage.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">Balliage</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/gloss.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">French gloss</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <a href="/" class=" btn">
                        <img class="mx-auto rounded-circle" src="/assets/style.jpg" alt="..." />
                    </a>
                    <h4 class="text-center">New style</h4>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>